<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/views.css">
  <title>AG Photo</title>
</head>
<body>
  <section class="container-fluid">
    <div class="row header">
      <div class="col-sm-2 col-md-1 text-sm ">
        <img src="../assets/images/logo-red.png" class="logo img-fluid" alt="logo">
      </div>
      <div class="col-sm-2 col-sm-4 text-sm title">
        <h2>AG photo</h2>
      </div>
      <div class="offset-1 col-md-4 d-none d-md-block ">
        <form class="form-inline my-1 my-sm-0 form-search">
          <input class="form-control mr-sm-1 search-bar" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success  my-sm-0 search-bar" type="submit">Search</button>
        </form>
      </div>
      <div class="col-sm-4 menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Chat</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container-fluid">


  <div class="row nav2">
    <div class="col-12 text-center">
      <h1>Share your best moments!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 text-center presentation">
      <img class=" mx-auto img-usuario img-fluid" src="../assets/images/usuario2.png" alt="Usuario">
      <h2>Leila Stark</h2>
      <p>JstarkLeila </p>
    </div>
    <div class="col-md-4 col-sm-8">
      <div id="container" class="one">
        <form class="formi" action="" method="post">
          <textarea type="text" id="message" placeholder="¿Qué estás pensando hoy?"></textarea>
          <button id="button" disabled="true" class="button-text" type="submit">POST</button><span id="counter">
          </form>
        </div>
      </div>
    </div>
    </section>
    <!--==========Barra de amigos==========-->
   <section class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top tam img-fluid" src="../assets/images/usuario4.png" alt="Card image cap">
          <div class="card-block">
            <p class="card-text"> ·Shared  a  <a href="kim Kurshi"> kim Kurshi <a href="publication">publication . 4 min ago···</p>
            </div>
            <div class="card">
              <img class="card-img-top tam img-fluid" src="../assets/images/usuario3.png" alt="Card image cap">
              <div class="card-block">
                <p class="card-text"> ·Shared  a  <a href="kim Kurshi"> kim Kurshi <a href="publication">publication . 4 min ago···</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top tam img-fluid" src="../assets/images/usuario2.png" alt="Card image cap">
                <div class="card-block">
                  <p class="card-text"> ·Shared  a  <a href="kim Kurshi"> kim Kurshi <a href="publication">publication . 4 min ago···</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 photo">
              <img id="img1"><br/>
              <input id="inputFile1" type="file">
          </div>
        </div>
    </section>
          <script type="text/javascript" src="../js/app.js"></script>
        </body>
        </html>
